---
import BaseLayout from "/src/layouts/BaseLayout.astro";
import BlogPostCard from "/src/components/BlogPostCard.astro";
import { getCollection } from "astro:content";

const allPosts = (await getCollection("posts")).sort((a, b) =>
    a.data.up.localeCompare(b.data.up),
);
---

<BaseLayout title="sietch.link" lang="en">
    <p>
        <i
            >And no man ever again shall want for water. It shall be his for
            dipping from well or pond or lake or canal. It shall run down
            through the qanats to feed our plants. It shall be there for any man
            to take. It shall be his for holding out his hand.</i
        >
    </p>
    &mdash; Frank Herbert, <i>Dune</i>
    <h1>Index</h1>
    <a href="/en/tags">Tags</a>
    <ul>
        {
            allPosts.map((post) => (
                <BlogPostCard
                    url={post.id}
                    title={post.data.title}
                    mod={post.data.mod}
                    up={post.data.up}
                    displayLang={post.id.startsWith("en") ? undefined : "pt-br"}
                />
            ))
        }
    </ul>
</BaseLayout>
