---
const { title, mod, up, url, displayLang } = Astro.props;
---

<li>
    <a href={"/" + url}
        >{title} ({up}{mod ? " / mod " + mod : ""}) {
            displayLang ? "<" + displayLang + ">" : ""
        }</a
    >
</li>
