<header>
    <nav>
        <a href="/pt-br">&lt;pt-BR&gt;</a>
        <a href="/en">&lt;en&gt;</a>
    </nav>
    <div class="header-right">
        <a href="https://github.com/franpessoa/blog" style="float: right;"
            >&lt;github&gt;</a
        >
    </div>
</header>
