---
import BaseLayout from "/src/layouts/BaseLayout.astro";
import BlogPostCard from "/src/components/BlogPostCard.astro";
import { getCollection } from "astro:content";

const allPosts = (await getCollection("posts")).sort((a, b) =>
    a.data.up.localeCompare(b.data.up),
);
---

<BaseLayout title="sietch.link" lang="pt-br">
    <p>
        <i
            >E nenhum homem jamais sofrerá com a falta d’água. Será sua se a
            recolher de poços, lagoas, lagos ou canais. Correrá pelos qanats
            para alimentar nossas plantas. Estará lá para o homem que quiser
            tomá-la. Será sua se estender a mão.</i
        >
    </p>
    &mdash; Frank Herbert, <i>Duna</i>
    <h1>Conteúdos</h1>
    <a href="/pt-br/tags">Tags</a>
    <ul>
        {
            allPosts.map((post) => (
                <BlogPostCard
                    url={post.id}
                    title={post.data.title}
                    mod={post.data.mod}
                    up={post.data.up}
                    displayLang={post.id.startsWith("pt-br") ? undefined : "en"}
                />
            ))
        }
    </ul>
</BaseLayout>
