---
import Header from "../components/Header.astro";
import "../styles/base.css";

const { title, lang } = Astro.props;
---

<!doctype html>
<html {lang}>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css?family=EB Garamond"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
        />
        <title>{title}</title>
    </head>
    <body>
        <div class="ctt">
            <Header altLang />
            <slot />
        </div>
    </body>
</html>
